/*CSS Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-image:url(IMG_1934.jpg);
    background-size:100%;
    background-attachment: fixed;
    background-position: center;
}

#wrapper {
    margin: 100px auto 10px auto;
    width: 950px;
    background-color: rgba(255, 255, 255, .9);
    height: 1000px;
        
}

#wrapper h1 {
    text-align: center;
    font-family: Times New Roman, serif;
    background-color: rgba(245, 245, 220,.8);
}

main{
    width:50.57%;
    float: left;
    height:300px;
    padding-top:150px;
    padding-left: 25px;
}

p{
    font-family: Arial, sans-serif;
    background-color: rgba(245, 245, 220,.8);
}


aside {
/*    width: 340px;*/
    width:45.17%;
    height: 300px;
    float: right;
    padding-top: 15px;  

}

aside img {
    height:300;
    max-height: 100%;
    max-width: 100%;
    padding-bottom:15px;

}

footer {
    border-top: 1px dotted #666;
    clear: both;
    line-height: 50px;
    height 50px;
    text-align: center;
}

button {
    height: 30px;
    padding: 0px 10px 0px 10px;
    
}

